<div class="container">
  <div class="row">
    <center>
        <h3>Search for another TV show here!</h3>
        <%= form_tag("/tv/search_result", method: "get") do %>
        <%= text_field_tag :search, params[:search], placeholder: "Search Tv Shows" %>
        <%= submit_tag "Search", :class =>"btn btn-info",  :name => nil %>
    <% end %>
    </center>
    <br>
  </div><br />


<h2>Search results for <%= @search.capitalize %></h2>

  <div class="search-results"> 
  <table class="table table-hover ">
  <thead>
    <tr>
        <th scope="col">TV Show</th>
        <th scope="col"></th>
        <th scope="col">Popularity</th>
        <th scope="col">Air Date</th>
        <th scope="col">Overview</th>
        <th scope="col">Rating</th>
        <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
       <!--Rescue from empty search-->
  <%if @results[:results].nil?%>
     <center> <h1> Please Write something in the search bar or it's not going to work</h1></center>
  <%else%>
   <% @results[:results].each do |tv|  %>

   <tr>
      <td><%= tv[:original_name] %></td>
      <td><img src='
      <% if tv[:poster_path].nil? %>
              <p>Image not found</p>
          <%else%>
     <%= 'http://image.tmdb.org/t/p/w185/'+tv[:poster_path]%>'
     <%end%> alt=""></td>
      <td><%= tv[:popularity]%></td>
      <td><%= tv[:first_air_date]%></td>
      <td><%= tv[:overview]%></td>
      <td><%= tv[:vote_average]%></td>
      <td> <%= form_tag("/tv/show", method: "get") do %>
          <%= hidden_field_tag(tv[:id]) %> <!--captures TV show ID number to link to individual show page-->
          <%= submit_tag("View") %>
        <% end %></td>
      </tr>
      <%end%>
  </tbody>
  <% end %>
  </table>
</div> 