<div class="container">
  <div class="row">
    <h3>Search for a TV show here!</h3>
        <!--<div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text glyphicon glyphicon=search" aria-hidden="true"></span>
        </div>
        <input type="text" class="form-control" placeholder="Search for a TV show" aria-label="Search" aria-describedby="basic-addon1">-->

<center>
  <!-- Search bar is working on local but not on heroku -->

<%= form_tag("/tv/search_result", method: "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Tv Shows" %>
    <%= submit_tag "Search", :name => nil %>
    <% if @show.blank? %>
  <h4>There are no Show containing the term <%= params[:search] %>.</h4>
<% end %>
<% end %>
</center>
<br>
    <%#= link_to "Search", tv_show_results_path, class: 'btn btn-success'%>
  </div><br />


<h2>Search results for <%= @search.capitalize %></h2>

  <div class="search-results"> 
    <table class="table table-bordered table-striped ">
        <% @results[:results].each do |tv|  %>
            <thead>
                <tr>
                    <th scope="col">TV Show</th>
                    <th scope="col"></th>
                    <th scope="col">Popularity</th>
                    <th scope="col">First Air Date</th>
                    <th scope="col">Overview</th>
                    <th scope="col">Rating</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><%= tv[:original_name] %></td>
                    <td><img src="<%= 'http://image.tmdb.org/t/p/w185/'+tv[:poster_path]%>"></td>
                    <td><%= tv[:popularity]%></td>
                    <td><%= tv[:first_air_date]%></td>
                    <td><%= tv[:overview]%></td>
                    <td><%= tv[:vote_average]%></td>
                    <td> <%= form_tag("/tv/show", method: "get") do %>
                        <%= hidden_field_tag(tv[:id]) %> <!--captures TV show ID number to link to individual show page-->
                        <%= submit_tag("View") %>
                    <% end %></td>
                </tr>
            </tbody>
        <% end %>
    </table>
</div> 