<div class="container">
  <div class="row">
    <h3>Search for an other TV show here!</h3>
        <!--<div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text glyphicon glyphicon=search" aria-hidden="true"></span>
        </div>
        <input type="text" class="form-control" placeholder="Search for a TV show" aria-label="Search" aria-describedby="basic-addon1">-->

<center>
  <!-- Search bar is working on local but not on heroku -->

<%= form_tag("/tv/search_result", method: "get") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Tv Shows" %>
    <%= submit_tag "Search", :name => nil %>
    <% if @show.blank? %>
  <h4>There are no Show containing the term <%= params[:search] %>.</h4>
<% end %>
<% end %>
</center>
<br>


<div class="container">
    <div class="panel panel-default">
        <h1 class="panel-body text-center pt-5 pb-4"><%= @show[:name].capitalize %></h1>
    </div>
</div>

<div class="container show-overview mt-3">
    <img src="<%= 'http://image.tmdb.org/t/p/w185/'+@show[:poster_path]%>">
    <h2 class="text-center pt-3 pb-3">Synopsis</h2>
    <p class="text-center lead mb-0"><%= @show[:overview]%></p>
</div>

<section class="features-icons bg-light text-center mt-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-user m-auto text-primary"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-info m-auto text-primary"></i>
                    </div>
                    <h3>Genre</h3>
                    <p class="lead mb-0"><% genre = @show[:genres]%><%= genre[0].values[1] %></p>
                </div>
            </div>
            <div class="col">
                <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-grid m-auto text-primary"></i>
                    </div>
                    <h3>Number of Seasons</h3>
                    <p class="lead mb-0"><%= @show[:number_of_seasons]%></p>
                </div>
            </div>
            <div class="col">
                <div class="features-icons-item mx-auto mb-0 mb-lg-3">
                    <div class="features-icons-icon d-flex">
                        <i class="icon-layers m-auto text-primary"></i>
                    </div>
                    <h3>Number of Episodes</h3>
                    <p class="lead mb-0"><%= @show[:number_of_episodes]%></p>
                </div>
            </div>
        </div>
    </div>
</section>